:{$FRONTEND_HTTP_PORT} {
	encode zstd gzip

	handle /healthz {
		respond "ok" 200
	}

	handle /api/* {
		reverse_proxy gateway:{$GATEWAY_HTTP_PORT}
	}

	handle {
		root * /srv

		route {
			try_files {path} /index.html
			header /assets/* Cache-Control "public, max-age=31536000, immutable"
			header /index.html Cache-Control "no-cache"
			file_server
		}
	}
}
